{%load static%}

<div class="max-w-screen-sm">
	    <canvas id="grafico-sexo" height="300"></canvas>
</div>

<script src="{% static 'js/Chart.min.js' %}"></script>
<script>
    $.get('{%url "dados-academia"%}', function(dados){
    var ctx = $("#grafico-sexo").get(0).getContext("2d");
		let valores = [0,0,0];
    rotulos = dados['labels'];

		for (var i = 0; i < rotulos.length; i++) {
			if (rotulos[i]=='Feminino') {
				valores[0] += 1;
			}
			if (rotulos[i]=='Masculino') {
				valores[1] += 1
			}
			if (rotulos[i]=='Não Definido') {
				valores[1] += 1
			}
		}

		console.log(valores);

		new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: rotulos,
        datasets: [{
            data: valores,
            backgroundColor:[
                        '#F44336',
                        '#5E35B1',
                        '#3949AB',
                        '#0097A7',
                        ]
    			    }]
				}
			});
		});

</script>
