{%extends 'base.html'%}
{%block body%}

      <!-- section sobre -->
      <section id="sobre">
         <div class="grid grid-cols-1 lg:grid-cols-2">
            <!-- 2 columns -->
            <div class="lg:max-h-1/2 lg:flex items-center p-8 sm:p-12">
               <div class="flex-grow justify">
                  <h2 class="text-left pb-5 text-3xl text-gray-600 font-semibold">Sobre</h2>
                  <p
                     class="text-justify normal-case overflow-ellipsis overflow-hidden subpixel-antialiased text-lg font-light">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
               </div>
            </div>
            <div class="lg:max-h-1/2 lg:flex lg:items-center p-8 sm:p-12">
               <div class="flex-grow">
                  <img class="block h-auto w-full w-48 flex-none bg-cover h-24" src="">
               </div>
            </div>
         </div>
         <!-- end columns -->
      </section>
      <!-- end section -->

{%endblock%}
